@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .made-sec-card {
    @apply overflow-hidden bg-primary-lighter rounded-[30px] after:absolute  after:duration-700  after:rounded-3xl duration-500 after:w-0 after:h-0 hover:after:h-full hover:after:w-full
  }
}

@font-face {
  font-family: SF UI Display;
  src: url(./assets/font-family/sf-ui-display/sf-ui-display-light-58646b33e0551.woff);
  font-weight: 300;
}

@font-face {
  font-family: SF UI Display;
  src: url(./assets/font-family/sf-ui-display/sf-ui-display-medium-58646be638f96.woff);
  font-weight: 500;
}

@font-face {
  font-family: SF UI Display;
  src: url(./assets/font-family/sf-ui-display/sf-ui-display-semibold-58646eddcae92.woff);
  font-weight: 600;
}

* {
  font-family: SF UI Display;
}

.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}